{
  "globals": {
    "angular": true,
    "Image": true,
    "inject": true
  },
  "env": {
    "es6": true,
    "jasmine": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "extends": [
    "eslint:recommended"
  ],
  "rules": {
    "keyword-spacing": 2,
    "no-mixed-spaces-and-tabs": 2,
    "no-trailing-spaces": 2
  }
}

