{
  "globals": {
    "angular": true,
    "Image": true,
    "inject": true
  },
  "env": {
    "node": true,
    "jasmine": true
  },
  "extends": [
    "eslint:recommended"
  ],
  "rules": {
    "no-mixed-spaces-and-tabs": 2,
    "no-trailing-spaces": 2
  }
}

